flows.json
[{"id":"a833660e.b26f68","type":"tab","label":"Flow 1"},{"id":"78869198.9a394","type":"tab","label":"Flow 2"},{"id":"178fd46f.2cd41c","type":"tab","label":"Flow 3"},{"id":"d64a0544.9e3458","type":"inject","z":"a833660e.b26f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.16667175292969,"y":139.33334350585938,"wires":[["ccb5fb20.ecb9c8"]]},{"id":"348a2c82.675174","type":"debug","z":"a833660e.b26f68","name":"","active":true,"console":"false","complete":"false","x":589.1666870117188,"y":158.6666717529297,"wires":[]},{"id":"ccb5fb20.ecb9c8","type":"function","z":"a833660e.b26f68","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":343.16668701171875,"y":298,"wires":[["348a2c82.675174"]]},{"id":"194b47d8.1b6fd8","type":"inject","z":"78869198.9a394","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.16668701171875,"y":73.33334350585938,"wires":[["c3723d02.d8a1c"]]},{"id":"5d55ac80.b26704","type":"debug","z":"78869198.9a394","name":"","active":true,"console":"false","complete":"false","x":639.1666870117188,"y":66.66667175292969,"wires":[]},{"id":"c3723d02.d8a1c","type":"function","z":"78869198.9a394","name":"FUNC2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":391.16668701171875,"y":160,"wires":[["5d55ac80.b26704"]]},{"id":"903e28bd.b134a8","type":"inject","z":"178fd46f.2cd41c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143.16668701171875,"y":119.33334350585938,"wires":[["dec247b0.299448"]]},{"id":"dec247b0.299448","type":"function","z":"178fd46f.2cd41c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":313.16668701171875,"y":293.3333435058594,"wires":[["88304676.5f9a08"]]},{"id":"88304676.5f9a08","type":"debug","z":"178fd46f.2cd41c","name":"","active":true,"console":"false","complete":"false","x":583.1666870117188,"y":112,"wires":[]}]