flows.json
[{"id":"a833660e.b26f68","type":"tab","label":"Flow 1"},{"id":"d64a0544.9e3458","type":"inject","z":"a833660e.b26f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.16667175292969,"y":139.33334350585938,"wires":[["ccb5fb20.ecb9c8"]]},{"id":"348a2c82.675174","type":"debug","z":"a833660e.b26f68","name":"","active":true,"console":"false","complete":"false","x":589.1666870117188,"y":158.6666717529297,"wires":[]},{"id":"ccb5fb20.ecb9c8","type":"function","z":"a833660e.b26f68","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":343.16668701171875,"y":298,"wires":[["348a2c82.675174"]]}]